In [ ]:
#2nd Highets Salary
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    # Filter out null salaries and get unique salaries
    salaryDF = employee['salary'].dropna().drop_duplicates()
    if len(salaryDF) <2 :
        return pd.DataFrame({'SecondHighestSalary':[None]})
    sal=salaryDF.sort_values(ascending=[False]).iloc[1]
    return pd.DataFrame({'SecondHighestSalary':[sal]})

In [ ]:
#Customer who never order
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
     orders.rename(columns={'id': 'od_id'}, inplace=True)
     df_join=pd.merge(customers,orders,left_on=['id'],right_on=['customerId'],how='left')
     unorder_df = df_join[df_join['od_id'].isna()]
     unorder_df=unorder_df.drop_duplicates()
     df= pd.DataFrame(unorder_df['name'].values.reshape(-1,1))
     df.columns=['Customers']
     return(df)

In [38]:
import pandas as pd

activity=pd.read_csv(r"C:\Users\Sowmya\Desktop\1_Python_learning\Purdue AIML\Python_Puzzles\game_play_data - Sheet1.csv")
activity['event_date']=pd.to_datetime(activity['event_date'])
activity['event_date']=activity['event_date'].dt.date
activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_id     5 non-null      int64
 1   device_id     5 non-null      int64
 2   event_date    5 non-null      object
 3   games_played  5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes

In [60]:
activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sailor_id     5 non-null      int64
 1   device_id     5 non-null      int64
 2   event_date    5 non-null      datetime64[ns]
 3   games_played  5 non-null      int64
 4   nxt_login_dt  2 non-null      datetime64[ns]
 5   dt_diff       2 non-null      float64
 6   rnk           5 non-null      int64
dtypes: datetime64[ns](2), float64(1), int64(4)
memory usage: 412.0 bytes

In [78]:
df =activity
#df.rename(columns={'player_id': 'sailor_id'}, inplace=True)
sum=df.agg({'rnk':['sum']})
print(sum.iloc[0].values)

[7]

In [48]:
import pandas as pd

activity=pd.read_csv(r"C:\Users\Sowmya\Desktop\1_Python_learning\Purdue AIML\Python_Puzzles\game_play_data - Sheet1.csv")
activity['event_date']=pd.to_datetime(activity['event_date'])
activity['nxt_login_dt']=activity.sort_values(['event_date'],ascending=[True]).groupby(['player_id'])['event_date'].shift(-1)
activity['dt_diff']= (activity['nxt_login_dt']-activity['event_date']).dt.days
activity['rnk']=activity.sort_values(['event_date'],ascending=[True]).groupby(['player_id']).cumcount().add(1)
df=activity[activity['rnk']==1]
df=df[df['dt_diff']==1]
fraction = df['player_id'].nunique()/activity['player_id'].nunique()
fraction=round(fraction,2)
print(fraction)

0.33

In [ ]:
#gameplay_analysis
def gameplay_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    activity['nxt_login_dt']=activity.sort_values(['event_date'],ascending=[True]).groupby(['player_id'])['event_date'].shift(-1)
    activity['dt_diff']= (activity['nxt_login_dt']-activity['event_date']).dt.days
    activity['rnk']=activity.sort_values(['event_date'],ascending=[True]).groupby(['player_id']).cumcount().add(1)
    df=activity[activity['rnk']==1]
    df=df[df['dt_diff']==1]
    fraction = df['player_id'].nunique()/activity['player_id'].nunique()
    fraction=round(fraction,2)
    return pd.DataFrame({'fraction':[fraction]})

In [50]:
#
import pandas as pd

employee=pd.read_csv(r"C:\Users\Sowmya\Desktop\1_Python_learning\Purdue AIML\Python_Puzzles\manager_5_reportees.csv")
manager_df = employee.groupby(['managerId']).agg({'id':['count']})
manager_df.columns=['emp_cnt']
manager_df=manager_df.reset_index()
manager_df=manager_df[['managerId','emp_cnt']]
manager_df=manager_df[manager_df['emp_cnt']>=5]
join_df=pd.merge(manager_df,employee,left_on=['managerId'],right_on=['id'],how='left')
return_df=join_df[['name']]
return_df


import pandas as pd

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    manager_df = employee.groupby(['managerId']).agg({'id':['count']})
    manager_df.columns=['emp_cnt']
    manager_df=manager_df.reset_index()
    manager_df=manager_df[['managerId','emp_cnt']]
    manager_df=manager_df[manager_df['emp_cnt']>=5]
    join_df=pd.merge(manager_df,employee,left_on=['managerId'],right_on=['id'],how='inner')
    return_df=join_df[['name']]
    return(return_df)

   name
0  John

In [ ]:
import pandas as pd

def employee_bonus(employee: pd.DataFrame, bonus: pd.DataFrame) -> pd.DataFrame:
    bonus['bonus_1000_ind']=np.where(bonus['bonus']<1000,1,0)
    df_merge = pd.merge(employee,bonus,left_on='empId',right_on='empId',how='left')
    df_merge['bonus_1000_ind']=np.where((df_merge['bonus'].isnull() or df_merge['bonus_1000_ind']==1),1,0)
    df_merge=df_merge[df_merge['bonus_1000_ind']==1 ]
    return df_merge[['name','bonus']]

In [ ]:
#Bonus < 1000
import pandas as pd

def employee_bonus(employee: pd.DataFrame, bonus: pd.DataFrame) -> pd.DataFrame:
    bonus['bonus_1000_ind']=np.where(bonus['bonus']<1000,True,False)
    df_merge = pd.merge(employee,bonus,left_on='empId',right_on='empId',how='left')
    df_merge['no_bonus']=np.where(df_merge['bonus'].isnull() ,True,False)
    df_merge['no_bonus']=df_merge['no_bonus'].fillna(False)
    df_merge['bonus_1000_ind']=df_merge['bonus_1000_ind'].fillna(False)
    df_merge['low_or_no_bonus']=np.where((df_merge['no_bonus'] | df_merge['bonus_1000_ind'] ) ,True,False)
    df_merge=df_merge[df_merge['low_or_no_bonus']==True ]
    return df_merge[['name','bonus']]
    #return df_merge

In [139]:
import pandas as pd
import numpy as np

df=pd.read_csv(r"C:\Users\Sowmya\Desktop\1_Python_learning\Purdue AIML\Python_Puzzles\lat_lon_invest.csv")

df['lat_lon'] = df[['lat', 'lon']].apply(tuple, axis=1)
lat_lon_counts = df['lat_lon'].value_counts()
unique_lat_lon = lat_lon_counts[lat_lon_counts == 1].index
df_unique_lat_lon = df[df['lat_lon'].isin(unique_lat_lon)]
df['unq_lat_lon']=df['lat_lon'].isin(unique_lat_lon)
inv_cnts = df['tiv_2015'].value_counts()
same_inv=inv_cnts[inv_cnts>1].index
df['same_inv'] =df['tiv_2015'].isin(same_inv)
df['final'] = np.where(df['unq_lat_lon'] & df['same_inv'],1,0)
fin=df[df['final']==1]['tiv_2016'].sum()

45

In [121]:
##Same investment
import pandas as pd

def find_investments(insurance: pd.DataFrame) -> pd.DataFrame:
    df=insurance.copy('deep')
    df['lat_lon'] = df[['lat', 'lon']].apply(tuple, axis=1)
    lat_lon_counts = df['lat_lon'].value_counts()
    unique_lat_lon = lat_lon_counts[lat_lon_counts == 1].index
    df_unique_lat_lon = df[df['lat_lon'].isin(unique_lat_lon)]
    df['unq_lat_lon']=df['lat_lon'].isin(unique_lat_lon)
    inv_cnts = df['tiv_2015'].value_counts()
    same_inv=inv_cnts[inv_cnts>1].index
    df['same_inv'] =df['tiv_2015'].isin(same_inv)
    df['final'] = np.where(df['unq_lat_lon'] & df['same_inv'],1,0)
    fin=df[df['final']==1]['tiv_2016'].sum()
    fin=round(fin,2)
    return pd.DataFrame({'tiv_2016':[fin]})

tiv_2015
10    3
20    1
Name: count, dtype: int64

In [127]:
unique_lat_lon

Index([(10, 10), (40, 40)], dtype='object', name='lat_lon')

In [135]:
df

   pid  tiv_2015  tiv_2016  lat  lon   lat_lon  unq_lat_lon  same_inv
0    1        10         5   10   10  (10, 10)         True      True
1    2        20        20   20   20  (20, 20)        False     False
2    3        10        30   20   20  (20, 20)        False      True
3    4        10        40   40   40  (40, 40)         True      True

In [ ]:
#big country

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    big_area=3000000 
    big_pop=25000000
    world['population']=world['population'].fillna(0).astype(int)
    world['area']=world['area'].fillna(0).astype(int)
    world['big_ind']=np.where(((world['population']>=big_pop) | (world['area']>=big_area)),1,0)
    df = world[world['big_ind']==1]
    return df[['name','population','area']]
    #return world

In [ ]:
#class with 5 students
import pandas as pd

def find_classes(courses: pd.DataFrame) -> pd.DataFrame:
    class_cnt=courses['class'].value_counts()
    clss_cnt_df =  class_cnt[class_cnt>=5].reset_index()
    return pd.DataFrame({'class':clss_cnt_df['class'].unique()})

In [ ]:
#Triangle
import pandas as pd

def triangle_judgement(triangle: pd.DataFrame) -> pd.DataFrame:
    triangle['triangle']=np.where((((triangle['x']+triangle['y'])>triangle['z']) & ((triangle['z']+triangle['y'])>triangle['x']) & ((triangle['z']+triangle['x'])>triangle['y'])),'Yes','No')
    return triangle

In [ ]:
#Node - Tree
import pandas as pd

def tree_node(tree: pd.DataFrame) -> pd.DataFrame:
    tree['root_ind']=np.where(tree['p_id'].isnull(),1,0)
    tree['parent_ind']=np.where(tree['id'].isin(tree['p_id'].unique()),1,0)
    tree['type']=np.where(tree['parent_ind']==1,'Inner','Leaf')
    tree['type']=np.where(tree['root_ind']==1,'Root',tree['type'])
    return tree[['id','type']]

In [ ]:
#Largest Single number
def biggest_single_number(my_numbers: pd.DataFrame) -> pd.DataFrame:
    n_count = my_numbers['num'].value_counts()
    single_nums = n_count[n_count==1]
    single_nums=single_nums.reset_index()
    if len(single_nums['num']) > 0:
        large_num=single_nums['num'].max()
    else:
        large_num=None
    return pd.DataFrame({'num':[large_num]})

In [ ]:
# Import your libraries
import pandas as pd
import numpy as np

# Start writing code
sf_events.head()

sf_events['nxt_record_dt_1']=sf_events.sort_values(['record_date'],ascending=[True]).groupby(['user_id'])['record_date'].shift(-1)
sf_events['nxt_record_dt_2']=sf_events.sort_values(['record_date'],ascending=[True]).groupby(['user_id'])['record_date'].shift(-2)

sf_events['dt_1_diff']=(sf_events['nxt_record_dt_1']-sf_events['record_date']).dt.total_seconds() / 86400

sf_events['dt_2_diff']=(sf_events['nxt_record_dt_2']-sf_events['record_date']).dt.total_seconds() / 86400

sf_events =sf_events[sf_events['dt_2_diff'].notna()]
sf_events =sf_events[sf_events['dt_1_diff'].notna()]

sf_events['dt_2_diff'] = sf_events['dt_2_diff'].astype(int)
sf_events['dt_1_diff'] = sf_events['dt_1_diff'].astype(int)

sf_events['conseq_ind'] = np.where((sf_events['dt_1_diff']==1) & (sf_events['dt_2_diff']==2),1,0)
sf_events[sf_events['conseq_ind']==1]['user_id']

In [ ]:
#https://leetcode.com/problems/last-person-to-fit-in-the-bus/?envType=study-plan-v2&envId=top-sql-50
import pandas as pd

def last_passenger(queue: pd.DataFrame) -> pd.DataFrame:
    #for i in range(len(queue)):
    pass_count = len(queue)
    queue = queue.sort_values(['turn'],ascending=[True])
    queue['cum_sum']=queue['weight'].cumsum()
    queue['cum_sum_nxt'] = queue['cum_sum'].shift(-1)
    if queue['cum_sum'].max() <= 1000:
        return pd.DataFrame(queue['person_name'][-1:])
    df=queue[(queue['cum_sum']<=1000)&(queue['cum_sum_nxt'] >1000)]['person_name']
    return pd.DataFrame(df)